form {
    margin: 0 auto;
    width: 360px;
    padding: 1em;
    background-color: #FFF;
    box-shadow: 2px 3px 5px #cecece;
    display: grid;
}

form h1,.tchat h1 {
    text-align: center;
    text-align: center;
    color: #7fa94e;
    margin-top: 0;
}

form div + div {
    margin-top: 1em;
}

#content {
    height: 80vh;
    box-shadow: 2px 3px 5px #cecece;
    overflow: auto;
    width: 80vw;
    margin: 5vh auto 5vh auto;
    background-color: #FFF;
    position: relative;
}

#envoi {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
}

label {
    color: #808080;
    font-size: small;
    margin: 5px 0;
}

.emoji {
    position: relative;
    top: 15px;
    width: 50px;
}

#button,#mySUBMIT {
    background-color: #8BC34A;
    margin: 10px 0;
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    padding: 10px 0px;
    border-style: none;
    font-weight: bolder;
    letter-spacing: 1px;
}

.inscription a, .retour a {
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    color: #808080;
    font-size: smaller;
    letter-spacing: 1px;
}

body {
    background-color: #f3f3f3;
    font-family: arial;
}

input {
    padding: 10px 0px;
    text-align: center;
    color: #628e2f;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background 0.15s;
    border: 1px solid #cce4b0;
}

input#login {
}

input:focus {
    outline: #8bc34a auto 0px;
    background-color: #cce4b0;
}

.inscription a:hover, .retour a:hover {
    text-decoration: underline;
}

.inscription {
    text-align: right;
}

#button:hover {
    background-color: #78ad3b;
}

.erreur {
    margin: 5px auto;
    width: 360px;
    padding: 8px 1em;
    text-align: center;
    background-color: #F44336;
    color: #FFF;
    border: 1px solid #d62a1d;
    font-weight: bold;
}

.input-deco {
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 50%;
    opacity: 0.5;
}

.input-user {
    background-image: url(../img/user.png);
}

.input-pwd {
    background-image: url(../img/pwd.png);
}

.input-mail {
    background-image: url(../img/mail.png);
}

.tchat-submit {
    width: 11%;
    margin: 0!important;
}

.tchat-input-60 {
    width: 60%;
}

.tchat-input-30 {
    width: 30%;
}

<<<<<<< HEAD


@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: sans-serif;
}

/* ------------------------------------ */
a {
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}


/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/* ------------------------------------ */
input {
    display: block;
    outline: none;
    border: none !important;
}

textarea {
    display: block;
    outline: none;
}



/* ------------------------------------ */
button {
    outline: none !important;
    border: none;
    background: transparent;
}



.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #c4d3f6;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 960px;
    border-radius: 10px;
    overflow: hidden;
}

.table {
    width: 100%;
    display: table;
    margin: 0;
}
.row {
    display: table-row;
    background: #fff;
}
.row.header {
    color: #ffffff;
    background: #6c7ae0;
}

.row.header {
    padding: 0;
    height: 0px;
}

.row.header .cell {
    display: none;
}


.cell {
    display: table-cell;
}


.row .cell {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    font-weight: unset !important;

    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}

.row.header .cell {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;

    padding-top: 19px;
    padding-bottom: 19px;
}

.row .cell:nth-child(1) {
    width: 360px;
    padding-left: 40px;
}

.row .cell:nth-child(2) {
    width: 160px;
}

.row .cell:nth-child(3) {
    width: 250px;
}

.row .cell:nth-child(4) {
    width: 190px;
}


.table, .row {
    width: 100% !important;
}

.table a {
    text-decoration: none;
    padding-left: 50%;
    color: whitesmoke;
}
