::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #47467B;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}

#particles-js {
    background-color: #03A9F4;
    position: fixed;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#tchat-form  {
    margin: 0 auto;
    width: 360px;
    padding: 1em;
    background-color: #FFF;
    box-shadow: 2px 3px 5px #cecece;
    display: contents;
}

#accueil-form {
    margin: 0 auto;
    width: 360px;
    padding: 1em;
    background-color: #FFF;
    box-shadow: 2px 3px 5px #cecece;
    display: grid;
}

#register-form {
    margin: 0 auto;
    width: 360px;
    padding: 1em;
    background-color: #FFF;
    box-shadow: 2px 3px 5px #cecece;
    display: grid;
}

form h1,.tchat h1 {
    text-align: center;
    text-align: center;
    color: #e8e8e8fe;
    margin-top: 0;
}

#content {
    max-height: 100%;
    height: 80vh;
    background-color: #ffffff;
    padding: 5px;
    overflow: hidden;
    position: relative;
}

#envoi {
    display: flex;
    text-align: center;
}

label {
    color: #808080;
    font-size: small;
    margin: 5px 0;
}

.emoji {
    border-radius: 100%;
    width: 25px;
    vertical-align: middle;
}

#emoji-bar img {
    height: 30px;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    cursor: pointer;
}

#emoji-bar {
    display: none;
    padding: 1% 1.5%;
    height: 84px;
    background: #47486bb5;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
    position: absolute;
    z-index: 18;
    right: 1.5vh;
    bottom: 0;
    letter-spacing: 0.1vh;
}

#button,#mySUBMIT {
    background: linear-gradient(to right,#4950ef 32%, #393ecc 70%, #2b2e75 100%);
    margin: 10px 0;
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    padding: 10px 0px;
    border-style: none;
    font-weight: bolder;
    letter-spacing: 1px;
}

.inscription a, .retour a {
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    color: #808080;
    font-size: smaller;
    letter-spacing: 1px;
}

body {
    background-color: #ffffff;
    font-family: arial;
}

input {
    text-align: center;
    color: #628e2f;
    font-weight: bold;
    letter-spacing: 1px;
}

input#login {
}

input:focus {
    outline: #8bc34a auto 0px;
    background-color: #cce4b0;
}

.inscription a:hover, .retour a:hover {
    text-decoration: underline;
}

.inscription {
    text-align: right;
}

#button:hover {
    background-color: #78ad3b;
}

.erreur {
    margin: 0 auto;
    width: 360px;
    padding: 8px 1em;
    text-align: center;
    background-color: #F44336;
    color: #FFF;
    border: 1px solid #d62a1d;
    font-weight: bold;
}

.input-deco {
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 50%;
    opacity: 0.5;
}

.input-user {
    background-image: url(../img/user.png);
}

.input-pwd {
    background-image: url(../img/pwd.png);
}

.input-mail {
    background-image: url(../img/mail.png);
}

.tchat-submit {
    margin: 0!important;
    background-image: url("../img/send.png");
    padding: 0!important;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 50%;
    color: #fff0!important;
}

.tchat-input-60 {
    width: 71%;
}

.tchat-input-30 {
    width: 10%;
}

.g-recaptcha {
    margin: auto;
}

@font-face {
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
}

/* ------------------------------------ */
a {
    margin: 0px;
    -webkit-transition: all 0.4s;
    text-decoration: none;
}

.validate a {
    margin: 0px;
    -webkit-transition: all 0.4s;
    text-decoration: none;
    color: #cacaca;
    /* margin-left: 46%; */
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
    margin-top: 3%;
    font-family: arial;
    margin-bottom: 3%;
    color: #808080;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}

/* ------------------------------------ */
input {
    outline: none;
    border: none !important;
}

textarea {
    display: block;
    outline: none;
}

/* ------------------------------------ */
button {
    outline: none !important;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    /* background: whitesmoke; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 960px;
    border-radius: 10px;
    overflow: hidden;
}

.table {
    width: 100%;
    display: table;
    margin: 0;
}

.row {
    display: table-row;
    background: #fff;
    box-shadow: 1px -4px 20px 0px;
}

.row.header {
    color: #ffffff;
    background: #6c7ae0;
}

.row.header {
    padding: 0;
    height: 0px;
}

.row.header .cell {
    display: none;
}

.cell {
    display: table-cell;
}

.row .cell {
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
}

.row.header .cell {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 19px;
    padding-bottom: 19px;
}

.row .cell:nth-child(1) {
    width: 360px;
    padding-left: 40px;
}

.row .cell:nth-child(2) {
    width: 160px;
}

.row .cell:nth-child(3) {
    width: 250px;
}

.row .cell:nth-child(4) {
    width: 190px;
}

.table, .row {
    width: 100% !important;
}

@media only screen and (min-width: 768px) {
    #emoji-bar {
        width: 16vw;
    }

    .tchat-submit {
        width: 11%;
        margin: 0!important;
        color: #fafafa!important;
        background: none;
    }

    .message {
        /* width: 60%; */
    }

    .message.right {
        justify-self: end;
        flex-direction: row-reverse;
    }

    #content {
        width: 60vw;
        margin: auto;
    }

    #envoi {
        width: 60vw;
        margin: auto;
    }
}

@media only screen and (min-width: 480px) {
    .message {
        /* width: 80%; */
    }
}

nav {
    background-color: #00000054;
    max-height: 10vh;
}

nav li {
    padding: 15px;
}

nav a {
    color: #fff;
}

nav li:hover {
    background-color: #0000003b;
}

.message {
    margin: 10px 10px;
    display: flex;
}

.message i {
    background-color: #04a9f4;
    border-radius: 50px;
    height: 60px;
    border: 2px solid #FFF;
    width: 60px;
    display: grid;
}

i.online {
    box-shadow: 0px 0px 0px 2px #8BC34A;
}

i.offline {
    box-shadow: 0px 0px 0px 2px #F44336;
}

nav li b {
    text-transform: capitalize;
}

#headercontent {
    display: grid;
    height: 80vh;
    overflow: auto;
    padding: 5px;
}

.message.left {
    justify-self: baseline;
}

.message.right {
}

#user-connected {
    width: 60vw;
    margin: auto;
}

#user-connected p {
    background-color: #FFF;
    display: inline-block;
    padding: 10px;
    font-size: smaller;
}

@media (max-width: 480px) {
    #emoji-bar {
        margin: auto;
        height: 50px;
        background: #d1febe;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        overflow: auto;
        width: auto;
        padding-left: 5vw;
        border-radius: 0;
    }
}

.message p {
    margin: 5px 10px;
    place-self: center;
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 0px 5px 5px 5px;
    clear: both;
}

.display {
    display: flex;
    width: 60vw;
    margin: auto;
    justify-content: space-between;
}

.user-tchat {
    display: flex;
}

.user-tchat img {
    height: 41px;
    justify-self: center;
    place-self: center;
    background-color: #FFF;
    border-radius: 40px;
}

.user-tchat:hover {
    background-color: #0000003b;
}

.profil {
    background-color: #FFF;
    box-shadow: 2px 3px 5px #909090;
    padding: 10px 25px;
    margin-top: 15px;
    display: block;
}

.profil h1 {
    border-bottom: 1px solid;
    margin: 10px;
    color: #5a5a5a;
}

.profil form {
    width: unset;
    margin: unset;
    box-shadow: initial;
    grid-template-columns: 1fr 1fr;
}

.profil img {
    height: 180px;
    border: 1px solid #5a5a5a;
    border-radius: 4px;
}

.profil input {
    width: 100%;
}

.profil-form {
    padding: 5px 15px;
}

.pf-center {
    place-self: center;
}

/* -------- */
/* ARCHIVES */
/* -------- */
#archives {
    width: 60vw;
    margin: 0 auto;
}
.archives-message {
    background-color: #fff;
    padding: 5px 5px;
    color: #000;
    border-radius: 5px;
    border: 1px solid #01056c;
    width: 100%;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

#date {
    color: #9E9E9E;
    font-size: small;
    place-self: center;
}

/* -------- */
/* PAGINATION */
/* -------- */
#pagination {
    width: 60vw;
    margin: 0 auto;
    text-align: center;
}

/* --------------- */
/* ARCHIVES SEARCH FORM */
/* -------------- */
input {
    /* outline: none; */
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration, input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}

/* Demo 2 */
nav .lisearch:hover {
    background-color: none!important;
}

#demo-2 {
    margin: 0;
    width: 0;
    padding: 0;
    background-color: none;
    box-shadow: 0;
    position: absolute;
    right: 24vw;
    top: 7px;
}

#demo-2 input[type=search] {
    width: 14px;
    height: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}

#demo-2 input[type=search]:hover {
    background-color: #fff;
}

#demo-2 input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}

#demo-2 input:-moz-placeholder {
    color: transparent;
}

#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}

nav .signout {
    margin-right: 5vw;
}

.formulaire .form-wrapper {
    width: 20vw;
    padding: 1vh;
    float: right;
    margin-bottom: 1vh;
}

/* --------------- */
/* ARCHIVES SEARCH RESULTS */
/* -------------- */
#searchresults {
    clear: both;
    width: 60vw;
    margin: 2vh auto;
    padding: 1vh;
}

.message i img {
    height: 56px;
    width: 56px;
    border-radius: 50px;
    place-self: center;
    justify-self: center;
}

#envoi button {
    cursor: pointer;
}

.message p a {
    color: #03A9F4;
    font-weight: bold;
}

.message p a:hover {
    text-decoration: underline;
}

.message span {
    font-size: small;
}

span.right {
    float: right;
}
