::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #a3c55d;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}

#particles-js {
    background-color: #8bc34a;
    position: fixed;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

form {
    margin: 0 auto;
    width: 360px;
    padding: 1em;
    background-color: #FFF;
    box-shadow: 2px 3px 5px #cecece;
    display: grid;
}

form h1,.tchat h1 {
    text-align: center;
    text-align: center;
    color: #e8e8e8fe;
    margin-top: 0;
}

#content {
    height: 80vh;
    background-color: #FFF;
    padding: 5px;
    border-right: solid 2px #218d24;
    border-top: solid 2px #218d24;
    border-left: solid 2px #218d24;
    overflow: hidden;
}

#envoi {
    display: flex;
    text-align: right;
    border-bottom: solid 2px #218d24;
    border-right: solid 2px #218d24;
    border-left: solid 2px #218d24;
}

label {
    color: #808080;
    font-size: small;
    margin: 5px 0;
}

.emoji {
    position: relative;
    top: 8px;
    border-radius: 100%;
    width: 30px;
}

#emoji-bar img {
    height: 30px;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
}

#emoji-bar {
    margin: auto;
    width: auto;
    height: 50px;
    display: flex;
    background: #d1febe;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
    border-right: solid 2px #218d24;
    border-left: solid 2px #218d24;
}

#button,#mySUBMIT {
    background: linear-gradient(to right,#8bc34a 32%, #AAD37B 70%, #abd57c 100%);
    margin: 10px 0;
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    padding: 10px 0px;
    border-style: none;
    font-weight: bolder;
    letter-spacing: 1px;
}

.inscription a, .retour a {
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    color: #808080;
    font-size: smaller;
    letter-spacing: 1px;
}

body {
    background-color: #f3f3f3;
    font-family: arial;
}

input {
    padding: 10px 0px;
    text-align: center;
    color: #628e2f;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background 0.15s;
    border: 1px solid #cce4b0;
}

input#login {
}

input:focus {
    outline: #8bc34a auto 0px;
    background-color: #cce4b0;
}

.inscription a:hover, .retour a:hover {
    text-decoration: underline;
}

.inscription {
    text-align: right;
}

#button:hover {
    background-color: #78ad3b;
}

.erreur {
    margin: 0 auto;
    width: 360px;
    padding: 8px 1em;
    text-align: center;
    background-color: #F44336;
    color: #FFF;
    border: 1px solid #d62a1d;
    font-weight: bold;
}

.input-deco {
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 50%;
    opacity: 0.5;
}

.input-user {
    background-image: url(../img/user.png);
}

.input-pwd {
    background-image: url(../img/pwd.png);
}

.input-mail {
    background-image: url(../img/mail.png);
}

.tchat-submit {
    margin: 0!important;
    background-image: url("../img/send.png");
    padding: 0!important;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 50%;
    color: #fff0!important;
}

.tchat-input-60 {
    width: 60%;
}

.tchat-input-30 {
    width: 30%;
}

.g-recaptcha {
    margin: auto;
}

@font-face {
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

* {
    padding: 0px;
    box-sizing: border-box;
    margin: 0;
}

/* ------------------------------------ */
a {
    margin: 0px;
    -webkit-transition: all 0.4s;
    text-decoration: none;
}

.validate a{
    margin: 0px;
    -webkit-transition: all 0.4s;
    text-decoration: none;
    color: #cacaca;
    /* margin-left: 46%; */
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
    margin-top: 3%;
    font-family: arial;
    margin-bottom: 3%;
    color: #808080;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}

/* ------------------------------------ */
input {
    display: block;
    outline: none;
    border: none !important;
}

textarea {
    display: block;
    outline: none;
}

/* ------------------------------------ */
button {
    outline: none !important;
    border: none;
    background: transparent;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    /* background: whitesmoke; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 960px;
    border-radius: 10px;
    overflow: hidden;
}

.table {
    width: 100%;
    display: table;
    margin: 0;
}

.row {
    display: table-row;
    background: #fff;
    box-shadow: 1px -4px 20px 0px;
}

.row.header {
    color: #ffffff;
    background: #6c7ae0;
}

.row.header {
    padding: 0;
    height: 0px;
}

.row.header .cell {
    display: none;
}

.cell {
    display: table-cell;
}

.row .cell {
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
}

.row.header .cell {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 19px;
    padding-bottom: 19px;
}

.row .cell:nth-child(1) {
    width: 360px;
    padding-left: 40px;
}

.row .cell:nth-child(2) {
    width: 160px;
}

.row .cell:nth-child(3) {
    width: 250px;
}

.row .cell:nth-child(4) {
    width: 190px;
}

.table, .row {
    width: 100% !important;
}

@media only screen and (min-width: 768px) {
    #emoji-bar {
        width: 60vw;
    }

    .tchat-submit {
        width: 11%;
        margin: 0!important;
        color: #fafafa!important;
        background: none;
    }

    #content {
        width: 60vw;
        margin: auto;
        box-shadow: 1px 1px 32px #c7ff84;
    }

    #envoi {
        width: 60vw;
        margin: auto;
    }
}

nav {
    background-color: #a4de5f;
}

nav li {
    padding: 15px;
}

nav a {
    color: #fff;
}

nav li:hover {
    background-color: #7fa94e;
}

.message {
    background-color: #8bc34a;
    margin: 10px 10px;
    color: #FFF;
    border-radius: 5px;
    border: 1px solid #75a939;
    width: 60%;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    display: flex;
}

.message i {
    font-weight: bolder;
    font-size: 18px;
    text-transform: capitalize;
    font-style: initial;
    text-shadow: 1px 1px 1px #bbbbbb;
    color: #ffffff;
    background-color: #a4de5f;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
    word-break: normal;
}

nav li b {
    text-transform: capitalize;
}

#headercontent {
    display: grid;
    height: 80vh;
    overflow: auto;
    padding: 5px;
}

.message.left {
    justify-self: normal;
}

.message.right {
    justify-self: end;
}

#user-connected {
    width: 60vw;
    margin: auto;
}

#user-connected p {
    background-color: #FFF;
    display: inline-block;
    padding: 10px;
    font-size: smaller;
}

@media (max-width: 480px) {
    #emoji-bar {
        margin: auto;
        height: 50px;
        background: #d1febe;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        overflow: auto;
        width: auto;
        padding-left: 5vw;
        border-radius: 0;
    }
}

.message p {
    margin: 10px;
}

.display {
    display: flex;
    width: 60vw;
    margin: auto;
    justify-content: space-between;
}

.user-tchat {
    display: flex;
}

.user-tchat img {
    height: 41px;
    justify-self: center;
    place-self: center;
    background-color: #FFF;
    border-radius: 40px;
}

.user-tchat:hover {
    background-color: #7fa94e;
}

.profil {
    background-color: #FFF;
    box-shadow: 2px 3px 5px #909090;
    padding: 10px 25px;
    margin-top: 15px;
    display: block;
}

.profil h1 {
    border-bottom: 1px solid;
    margin: 10px;
    color: #5a5a5a;
}

.profil form {
    width: unset;
    margin: unset;
    box-shadow: initial;
    grid-template-columns: 1fr 1fr;
}

.profil img {
    height: 180px;
    border: 1px solid #5a5a5a;
    border-radius: 4px;
}

.profil input {
    width: 100%;
}

.profil-form {
    padding: 5px 15px;
}
.pf-center {
    place-self: center;
}

/* -------- */
/* ARCHIVES */
/* -------- */
#archives{
    width:70vw;
    margin: 0 auto;
}
#archives .archives-message{
    background-color: #fff;
    padding: 5px 5px;
    color: #FFF;
    border-radius: 5px;
    border: 1px solid #75a939;
    width: 100%;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
.back-to-tchat{
    width:70vw;
    margin: 0 auto;
}
.back-to-tchat p{
    padding: 5px 5px;
    text-align:right;
}
#date {
    color: black;
}