body {
    margin-top: 20%;
    margin-bottom: 20%;
    background: #fff;
}
.container {
 position: relative;
    font-family: "Times New Roman", Times, serif;
    font-size: 11em;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    Line-Height: 1.5;
    text-align: justify;
    /* float: right; */
}

/*
MINI CHAT STYLE (tchat.php)
*/
h1{
    width: 80vw;
    margin: 0 auto;
}
#content{
    height: 80vh;
    border:solid 1px black;
    overflow: auto;
    width: 80vw;
    margin: 5vh auto 5vh auto;
}
#envoi{
    height: 5vh;
    text-align: right;
    width: 80vw;
    margin: 0 auto;
}

.emoji{
    position: relative;
    top: 15px;
    width: 50px;
}
